<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A website where you can find all the thrift locations around you!"
    />
    <meta
      name="keywords"
      content="Thrift, Thrifting, Thrift Store, Thrift Stores, Thrift Near Me, Thrift Store Near Me"
    />
    <title>Project</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-left">
        <a href="index.html"
          ><img class="logo" src="" alt="LOGO"
        /></a>
        <a href="about.html">About</a>
        <a href="#">Contact</a>
      </div>
      <div class="nav-middle">
        <h1><a href="#">Project Template</a></h1>
      </div>
      <div class="auth">
        <a href="#">Login</a>
        <a href="#">Sign Up</a>
      </div>
    </nav>
    <div class="container">
      <h2>Explore Locations Around You!</h2>
      <div class="map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.123456789012!2d-122.419415484681!3d37.774929279759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085809c8e8e8e8e%3A0x8e8e8e8e8e8e8e8e!2sThrift+Store+Name!5e0!3m2!1sen!2sus!4v1631234567890"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </body>
  <footer class="footer">
    <p>&copy; 2023 Project. All rights reserved.</p>
    <p>Follow us on social media:</p>
    <div>
      <a href="https://www.facebook.com/" target ="_blank"
        ><img
          class="icon" 
          src="../static/images/Facebook (1).png"
          alt="Facebook"
      /></a>
      <a href="https://www.linkedin.com" target ="_blank"
        ><img class="icon" src="../static/images/linked in.svg" alt="Twitter"
      /></a>
      <a href="https://www.instagram.com/" target ="_blank"
        ><img class="icon" src="../static/images/instagram.png" alt="Instagram"
      /></a>
    </div>
  </footer>
</html>
